
# Reusable workflow: Infra Policy (v1.0.0)
name: Infra Policy
on:
  workflow_call:
    inputs:
      policy_dir:
        required: false
        type: string
        default: 'policies/conftest'
      target:
        required: false
        type: string
        default: '.'
      opa_version:
        required: false
        type: string
        default: 'v1.13.2'
      conftest_version:
        required: false
        type: string
        default: 'v0.66.0'
jobs:
  opa-conftest:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
      - name: Instalar OPA y Conftest
        run: |
          curl -L -o opa "https://openpolicyagent.org/downloads/${{ inputs.opa_version }}/opa_linux_amd64_static"
          chmod +x opa && sudo mv opa /usr/local/bin/
          curl -L -o conftest.tar.gz "https://github.com/open-policy-agent/conftest/releases/download/${{ inputs.conftest_version }}/conftest_Linux_x86_64.tar.gz"
          tar -xzf conftest.tar.gz && sudo mv conftest /usr/local/bin/
      - name: Ejecutar Conftest sobre manifiestos
        run: |
          conftest test ${{ inputs.target }} --policy ${{ inputs.policy_dir }}
