
# Reusable workflow: Infra Policy (v1.0.0)
name: Infra Policy
on:
  workflow_call:
    inputs:
      policy_dir:
        required: false
        type: string
        default: 'policies/conftest'
      target:
        required: false
        type: string
        default: '.'
jobs:
  opa-conftest:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Instalar OPA y Conftest
        run: |
          curl -L -o opa https://openpolicyagent.org/downloads/latest/opa_linux_amd64
          chmod +x opa && sudo mv opa /usr/local/bin/
          curl -L -o conftest.tar.gz https://github.com/open-policy-agent/conftest/releases/latest/download/conftest_Linux_x86_64.tar.gz
          tar -xzf conftest.tar.gz && sudo mv conftest /usr/local/bin/
      - name: Ejecutar Conftest sobre manifiestos
        run: |
          conftest test ${{ inputs.target }} --policy ${{ inputs.policy_dir }}
