name: SLSA Provenance

on:
  release:
    types: [created]

jobs:
  provenance:
    permissions:
      contents: write
      id-token: write
    uses: slsa-framework/slsa-github-generator/.github/workflows/generator_generic_slsa3.yml@07e64b653f10a80b6510f4568f685f8b7b9ea830 # v1.9.0
