name: SLSA Provenance

on:
  release:
    types: [created]

jobs:
  provenance:
    permissions:
      contents: write
      id-token: write
    uses: slsa-framework/slsa-github-generator/.github/workflows/generator_generic_slsa3.yml@v1.9.0
